@charset "utf-8";
@import "_config.scss";

#wrap{
  width:100%;
}

.gnbWrap{
  margin:25px auto;
  width:1100px;
  position: relative;
}

.gnb{
  &:after{
    content:"";
    display:block;
    clear:both;
  }

  li{
    float:left;
    margin-left:20px;
    
    a{
      display:block;
      padding:5px 10px;

      &.on{
        color:#000;
        font-weight:600;
      }
    }

    .sub{
      display:none;
      position: absolute;
      top:31px;
      left:0;
    }

    &:first-child{
      margin-left:0;
    }
  }
}