@charset "utf-8";
@import "_config";

html,body{
  height:100%;
}
body{
  overflow:hidden;
  overflow-y:auto;
}
#wrap {
  width: 100%;
}
#centerWrap{
  height:100%;
  position: relative;
  .wrap{
    position: absolute;
    top:50%;
    left:0;
    right:0;
    overflow-y:auto;
    @include translate(0%,-50%);
  }
}
.studyArea{
  color:#fff;
  .CodeMirror{
    height:200px;
  }
}
.CodeMirror-line>span{
  color:#fff;
}

//addClass, removeClass
span,
a,
button,
input{
  &.btn-Style{
    &.active{
      color:red;
      border:1px solid red;
    }
  }
}

// scroll css
.scroll_Module{
  @include fontSize(20px);
  text-align:center;
  .top{
    height:250px;
    background-color: red;
  }
  #fixWrap{
    height:150px;
    position: relative;
    .fixed_default{
      position: absolute;
      top:0;
      left:0;
      width:70px;
      height:100px;
      background-color: purple;
      @include transition(all, .3s, ease-out);
      &.active{
        color:#272727;
        background-color: yellow;
      }
      &.show{
        top:110px;
        &.is_fixed{
          position: fixed;
          top:210px;
        }
      }
      &.is_fixed{
        position: fixed;
        top:100px;
        left:0;
        right:0;
        z-index:1;
      }
    }
    .fixed_target {
      height:150px;
      &.is_fixed{
        position: fixed;
        top:0;
        left:0;
        right:0;
        width:auto;
        height:80px;
        color:#fff;
        background-color: #000;
        z-index:1;
        @include transition(all, .3s, ease-out);
      }
    }
  }
  .bottom{
    height:2400px;
    background-color: #eee;
  }
}
.scrollSection, "1",
.scroll_wrap{
  height:100%;
  position: relative;
}
.scrollSection{
  .header{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:80px;
    background-color: rgba(255, 255, 255, .6);
    z-index:1;
  }
  .section{
    height:100%;
    .inner_section{
      height:100%;
      &:nth-child(2n){
        //background-color: #000;
      }
    }
    &:nth-child(1){
      background-color: red;
    }
    &:nth-child(2){
      background: url("https://image.jinhak.com/jinhakImages/company/test_bg.jpg") 50% 50% no-repeat;
      background-size: fixed;
    }
    &:nth-child(3){
      background-color: yellow;
    }
    &:nth-child(4){
      background-color: green;
    }
  }
}

//up-down css

.bottom_fixed{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  background-color: #000;
  z-index:1;
  .inner{
    margin:0 auto;
    width:1160px;
    height:70px;
    overflow:hidden;
    position: relative;

    .sliderOption{
      position: absolute;
      top:0;
      left:0;
      right:250px;
      overflow:hidden;
      @include transition(all, .3s, ease-out);
    }
    .slide{
      padding:10px 0;
      height:70px;
      color:#000;
      background-color: #fff;
    }

    .control_Box{
      position: absolute;
      top:50%;
      right:0;
      padding-left:30px;
      @include translate(0,-50%);
      a{
        display:block;
      }
      .control{
        position: absolute;
        top:50%;
        left:0;
        @include translate(0,-50%);
        a{
          margin:5px 0;
          color:#fff;
          &:hover{
            color:yellow;
          }
        }
        .btn{
          &.up{
          }
          &.down{
          }
        }
      }
      .result_show{
        padding:5px 0;
        width:180px;
        @include fontSize(24px);
        color:#fff600;
        font-weight:600;
        text-align:center;
        border:1px solid #fff600;
        border-radius:50px;
        &:after{
          display:inline-block;
          content:"";
          margin-left:5px;
          width:30px;
          height:11px;
          background: url("https://imgorg.jinhak.com/renewal2020/btn/btn_yellow_result.png") right 50% no-repeat;
        }
      }
    }
  }
}


.more_Box{
  margin:0 auto 50px;
	padding:40px 20px;
  max-width:300px;
	text-align:left;
	background-color: #fff;
	border:1px solid #CED0D4;
	border-radius:20px;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,.05);
	position: relative;
	@media screen and (max-width:640px){
		@include calc-vw-2(40px, 20px, padding);
		border-radius:calc-vw(20px);
	}
	&.center{
		text-align:center;
	}
	.info{
		.tit{
			margin-bottom:20px;
			padding-bottom:15px;
			@include fontSize(34px);
			border-bottom:1px solid #272727;
			@media screen and (max-width:640px){
				margin-bottom:calc-vw(20px);
				padding-bottom:calc-vw(15px);
				@include fontSize(17px);
			}
		}
		.text{
			.txt{
				@include fontSize(26px);
				@media screen and (max-width:640px){
					@include fontSize(13px);
				}

			}
		}
	}

	.box{
		margin-top:20px;
		padding:20px 15px;
		background-color: #F3F6F9;
		@media screen and (max-width:640px){
			margin-top:calc-vw(20px);
			@include calc-vw-2(20px, 15px, padding);
		}
		table{
		}

		th, td,
		dt, dd{
			@include fontSize(30px);
			font-weight:normal;
			@media screen and (max-width:640px){
				@include fontSize(15px);
			}
			&.blue,
			.blue{
				color:#1b7fee;
			}
		}
		th, dt{
			padding-bottom:10px;
			@media screen and (max-width:640px){
				padding-bottom:calc-vw(10px);
				//@include calc-vw-2(10px, 0px, padding);
			}
		}
		td, dd{
			@include fontSize(26px);
			font-weight:normal;
			@media screen and (max-width:640px){
				@include fontSize(13px);
			}
		}
	}

	.moreBtn{
		position: absolute;
		bottom:-30px;
		left:50%;
		@include translate(-50%,0);
		@media screen and (max-width:640px){
			bottom:calc-vw(-30px);
		}
		&.is_show{
			button{
				background-image: url("https://image.jinhak.com/jinhakImages/icon/icon_more_on.png");
			}
		}
		button{
			width:60px;
			height:60px;
			font-size:0;
			background-color: #1B7FEE;
			background-image: url("https://image.jinhak.com/jinhakImages/icon/icon_more_off.png");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 21px;
			border-radius:50%;
			cursor:pointer;
			@media screen and (max-width:640px){
				width:calc-vw(60px);
				height:calc-vw(60px);
				background-size: calc-vw(21px);
			}
		}
	}
	.detail{
		display:none;
		&.is_show{
			display:block;
		}
	}
}