@charset "utf-8";
@import "_config";

html,body{
  height:100%;
}
#wrap {
  width: 100%;
}
#centerWrap{
  height:100%;
  position: relative;
  .wrap{
    position: absolute;
    top:50%;
    left:0;
    right:0;
    overflow-y:auto;
    @include translate(0%,-50%);
  }
}
.studyArea{
  color:#fff;
  .CodeMirror{
    height:200px;
  }
}
.CodeMirror-line>span{
  color:#fff;
}

//addClass, removeClass
span,
a,
button,
input{
  &.btn-Style{
    &.active{
      color:red;
      border:1px solid red;
    }
  }
}

// scroll css
.scroll_Module{
  @include fontSize(20px);
  text-align:center;
  .top{
    height:250px;
    background-color: red;
  }
  #fixWrap{
    height:150px;
    position: relative;
    .fixed_default{
      position: absolute;
      top:0;
      left:0;
      width:70px;
      height:100px;
      background-color: purple;
      @include transition(all, .3s, ease-out);
      &.active{
        color:#272727;
        background-color: yellow;
      }
      &.show{
        top:110px;
        &.is_fixed{
          position: fixed;
          top:210px;
        }
      }
      &.is_fixed{
        position: fixed;
        top:100px;
        left:0;
        right:0;
        z-index:1;
      }
    }
    .fixed_target {
      height:150px;
      &.is_fixed{
        position: fixed;
        top:0;
        left:0;
        right:0;
        width:auto;
        height:80px;
        color:#fff;
        background-color: #000;
        z-index:1;
        @include transition(all, .3s, ease-out);
      }
    }
  }
  .bottom{
    height:2400px;
    background-color: #eee;
  }
}

//up-down css

.bottom_fixed{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  background-color: #000;
  z-index:1;
  .inner{
    margin:0 auto;
    width:1160px;
    height:70px;
    overflow:hidden;
    position: relative;

    .sliderOption{
      position: absolute;
      top:0;
      left:0;
      right:250px;
      overflow:hidden;
      @include transition(all, .3s, ease-out);
    }
    .slide{
      padding:10px 0;
      height:70px;
      color:#000;
      background-color: #fff;
    }

    .control_Box{
      position: absolute;
      top:50%;
      right:0;
      padding-left:30px;
      @include translate(0,-50%);
      a{
        display:block;
      }
      .control{
        position: absolute;
        top:50%;
        left:0;
        @include translate(0,-50%);
        a{
          margin:5px 0;
          color:#fff;
          &:hover{
            color:yellow;
          }
        }
        .btn{
          &.up{
          }
          &.down{
          }
        }
      }
      .result_show{
        padding:5px 0;
        width:180px;
        @include fontSize(24px);
        color:#fff600;
        font-weight:600;
        text-align:center;
        border:1px solid #fff600;
        border-radius:50px;
        &:after{
          display:inline-block;
          content:"";
          margin-left:5px;
          width:30px;
          height:11px;
          background: url("https://imgorg.jinhak.com/renewal2020/btn/btn_yellow_result.png") right 50% no-repeat;
        }
      }
    }
  }
}
